# Node.js
/node_modules/
/.pnp
.npm

# Disregard .git folders
.git

# Editor files
.DS_Store
.idea
.vscode/

# Logs and local configuration
logs
tmp
*.log
*.syncignore

# Compiled output
/build
/dist

# Testing
/coverage

# System files
.DS_Store