html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(180deg, #6e008b, #7b0094, #9a00b2);
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
}

.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.1);
    color: #b3ff66;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-control::placeholder {
    color: #b3ff66;
}
.form-control:focus{
    background-color: #a864c7;
}

label {
color: #b3ff66;
}

.btn-primary {
background-color: #310049;
border-color: white;
}

.btn-primary:hover {
background-color: #7b0094;
color: white;
border-color: #a864c7;
}

.bg-dark {
background-color: #310049 !important;
}

.rounded-circle {
width: 150px;
height: 150px;
}

.profile-section {
    width: 200px;
    padding: 20px;
    background-color: #331155;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.profile-section button {
    background-color: #a864c7;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.profile-section button:hover{
    background-color: white;
    color: #a864c7;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #331155;
    color: #b3ff66;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.form-select {
    background-color: #7b0094;
    color: #b3ff66; 
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-select option {
    color: #b3ff66;
    background-color: #7b0094;
}

.anime-match {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.anime-match img {
    max-width: 100px;
    margin-right: 10px;
}

.anime-match h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.anime-match p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.anime-match button {
    margin-top: 10px;
}