body {
    font-family: sans-serif;
    background-color: #552583;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: stretch;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner */
}

.sidebar {
    background-color: #3e1055;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    margin-left: 0;
}

.sidebar button {
    background-color: #a864c7;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para coluna (vertical) */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 440px;
    margin-left: 220px; /* Espaço para a sidebar */
    margin-right: 220px; /* Espaço para a profile-section */
    padding: 20px;
}

.recently-added {
    display: flex;
    flex-direction: column; /* Altera a direção dos itens para coluna (vertical) */
    gap: 20px;
}

.recently-added img {
    width: auto;
    height: auto;
    border-radius: 20px;
}

.profile-section {
    width: 200px;
    padding: 20px;
    background-color: #4e1968;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.profile-section img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-section button {
    background-color: #a864c7;
    border: none;
    padding: 10px 20px;
    color: white;
}

.mb-4 {
    background-color: #331155;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}