body {
    background-color: #6A0572;
    color: #D9E76C;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4B0049;
    color: #D9E76C;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.recent-episodes, .user-profile {
    background-color: #4B0049;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #D9E76C;
}

footer {
    background-color: #4B0049;
    color: #D9E76C;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}