html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #3c007b;
    color: white;
    font-family: sans-serif;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.gradient-bg {
    background: linear-gradient(180deg, #683C8C, #4A0284);
    color: white;
}

.custom-btn-2{
    background-color: #995BD5;
    color: white;
    border-radius: 180;
}

.custom-btn-2:hover {
    background-color: white;
    color: #995BD5;
}

.btn-outline-secondary{
    background-color: #995BD5;
    color: white;
    border-radius: 180;
    border-color: white;
}

.btn-outline-secondary:hover{
    background-color: white;
    color: #995BD5;
    border-color: #6e07d5;
}

.btn-outline-secondary:active{
    color:white !important;
    background-color: #995BD5 !important;
    border-color: white !important;
}

.form-control{
    background-color: #995BD5;
    color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    color: #87CEEB;
    background-color: #9c61d6;
}

.form-control::selection {
    background-color: #a777d6;
    color: white;
}

.content{
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.table-dark th {
    background-color: #6e07d5;
}

.table-dark td {
    background-color: #4a0077;
}

.profile-section {
    width: 200px;
    padding: 20px;
    background-color: #331155;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner */
}

.profile-section button {
    background-color: #a864c7;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.profile-section button:hover{
    background-color: white;
    color: #a864c7;
}

.bi-search {
    font-size: 15px;
    color: #4a0077;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: #a864c7;
    min-width: 142px;
}