body {
    font-family: sans-serif;
    background-color: #552583;
    margin: 0;
    color: #9CD74C;
}

.container {
    background-color: #331155;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

h1, h4, p {
    color: #BF40BF;
}

.form-container {
    background-color: #331155;
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    color: #9CD74C;
    background-color: #331155;
    border: 1px solid #9CD74C;
}

.form-control::placeholder {
    color: #9CD74C;
}

.form-control:focus {
    color: #87CEEB;
    background-color: #995BD5;
    border-color: #87CEEB;
}

.form-control::selection {
    background-color: #a777d6;
    color: #9CD74C;
}

.form-control::-moz-selection {
    background-color: #a777d6;
    color: white; /* Para Firefox */
}

input,
button {
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.custom-btn {
    color: #BF40BF;
    border-color: #BF40BF;
}

.custom-btn:hover {
    background-color: #BF40BF;
    color: white;
}

.custom-btn-2 {
    background-color: #097969;
    color: white;
}

.custom-btn-2:hover {
    background-color: white;
    color: #097969;
}

/* Degrade aplicado ao background */
.gradient-bg {
    background: linear-gradient(180deg, #995BD5, #502F6F);
    color: white;
}

/* Estilo para a imagem de perfil */
#profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

/* Estilo para o modal de troca de foto */
.modal-body img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
}

.modal-body img:hover {
    transform: scale(1.05);
}